extends ./layout/index

block slider
  .slider
    h1 Rio de Janeiro
    em aventura

block contenido
  main.container.mt-5
    .h2.text-center.mb-5 Sobre nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias provident labore magni neque dolorum, est sint doloribus possimus atque adipisci molestiae aspernatur facilis nostrum delectus eligendi ullam quis nobis! Veniam repudiandae voluptatum accusamus, aperiam eos voluptates beatae soluta culpa magni. Quo provident veritatis ipsa adipisci in velit tempore illum?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias provident labore magni neque dolorum, est sint doloribus possimus atque adipisci molestiae aspernatur facilis nostrum delectus eligendi ullam quis nobis! Veniam repudiandae voluptatum accusamus, aperiam eos voluptates beatae soluta culpa magni. Quo provident veritatis ipsa adipisci in velit tempore illum?
      .col-md-6
        img(src="/img/inicio_nosotros.jpg" alt="imagen nosotros" class="img-fluid")