extends ./layout/index

block contenido
  main.container.mt-5
    h1.text-center.mt-5 #{pagina}
    .row

      h2.d-block.w-100.text-center Agrega un testimonial

      .row.justify-content-center.col
        .col-md-8 
          form(action="" method="POST")
            .from-group
              label(for="nombre") Nombre
              input#nombre(type="text", placeholder="Tu nombre", name="nombre", class="form-control")
            .from-group
              label(for="correo") Correo Electrónico
              input#correo(type="text", placeholder="Tu correo", name="correo", class="form-control")
            .from-group
              label(for="mensaje") Mensaje
              textarea#mensaje(class="form-control", name="mensaje", placeholder="Tu mensaje", rows=3)

            input.btn.btn-success.btn-block.mt-2(type="submit")